/**
 * data table styles
 */
.data_table {
	border-collapse: collapse;
}

.data_table thead th {
	font: bold 13px Arial;
	text-align: left;
	padding: 2px 5px;
	border: 1px solid #cecece;
	cursor: default;
	background-color: #EFF0E5;
}

.data_table tbody td {
	font: normal 13px Arial;
	padding: 2px 5px;
	border: 1px solid #cecece;
	cursor: default;
}

.data_table tbody tr:nth-child(even) td {
	background-color: #F7F7F7;
}

.data_table caption {
	font: bold 15px Arial;
	border: 1px solid #CECECE;
	cursor: default;
	background-color: #EFF0E5;
	border-bottom-width: 0px;
	text-align: left;
	padding-left: 5px;
}

/**
 * data table cell styles
 */
.data_table tbody td.data_cell_number {
	text-align: right;
}
