/**
 * data table styles
 */
.data_table {
	border-collapse: collapse;
}

.data_table thead th {
	font: bold 13px Arial;
	text-align: left;
	padding: 2px 5px;
	border: 1px solid #cecece;
	cursor: default;
	background-color: #EFF0E5;
}

.data_table tbody td {
	font: normal 13px Arial;
	padding: 2px 5px;
	border: 1px solid #cecece;
	cursor: default;
}

.data_table tbody tr:nth-child(even) td {
	background-color: #F7F7F7;
}

.data_table caption {
	font: bold 15px Arial;
	border: 1px solid #CECECE;
	cursor: default;
	background-color: #EFF0E5;
	border-bottom-width: 0px;
	text-align: left;
	padding-left: 5px;
}

/**
 * data table cell styles
 */
.data_table tbody td.data_cell_date,
.data_table tbody td.data_cell_number {
	text-align: right;
}

/**
 * pager styles
 */
.table_pager {
	display: inline-block;
}

.table_pager div.pager_link {
	display: inline-block;
	padding: 2px 7px;
	font: 10px Arial;
	color: #0A0ADB;
	border: 1px solid #BBB;
	margin-right: 1px;
	margin-left: 1px;
	cursor: pointer;
	min-width: 15px;
	text-align: center;
}

.table_pager div.pager_link.pager_selected {
	border: 1px solid #0A0ADB;
	font-weight: bold;
}

.table_pager div.pager_link:hover {
	text-decoration: underline;
}

.table_pager div.pager_link.disabled {
	color: #BBB;
	border-color: #BBB;
	cursor: default;
}

.table_pager div.pager_link.disabled:hover {
	text-decoration: none;
}

.table_pager input {
	font: 10px Arial;
	color: #0A0ADB;
	border: 1px solid #0A0ADB;
	cursor: text;
	padding: 2px;
	width: 23px;
	text-align: center;
}

.table_pager span {
	font: 10px Arial;
	color: #0A0ADB;
	cursor: default;
	margin-left: 3px;
	margin-right: 1px;
	
}

.table_pager .controls {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
